PROJECT_NAME=metrigo

DOMAIN=metrigo.ru
API_DOMAIN=api.metrigo.ru

POSTGRES_DB=metrigo
POSTGRES_USER=metrigo
POSTGRES_PASSWORD=change_me

CLICKHOUSE_DB=metrigo
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change_me

JWT_SECRET=change_me
OPENAI_API_KEY=change_me